<form class="signin-form" action="/signin" method="post">

  <div class="alert">
    <%= message %>
  </div>

  <h3>Sign In</h3>

  <div class="form-group">
    <label for="email">Email: </label><br/>
    <input type="text" name="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="password">Password: </label><br/>
    <input type="password" name="password" placeholder="Password">
  </div>

  <div class="form-btn-container">
    <input type="submit" name="submit" value="Sign In">
  </div>
</form>
