body {
  margin: 0;
  padding: 0;
  background-color: $darkblue;
  color: white;
}

.alert {
  color: red;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}
