<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/page/head') %>
  </head>
  <body>
    <div class="user-forms-container">
      <div class="signin-container">
        <%- include('../partials/forms/signin') %>
      </div>

      <div class="signup-container">
        <%- include('../partials/forms/signup') %>
      </div>
    </div>

    <%- include('../partials/page/scripts') %>
  </body>
</html>
