<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/page/head') %>
  </head>
  <body>
    <%- include('../partials/forms/signin') %>

    <%- include('../partials/page/scripts') %>
  </body>
</html>
