<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/page/head') %>
    <meta name="csrf-token" content="<%= token %>">
  </head>
  <body>

    <%- include('../partials/page/gameScripts') %>
  </body>
</html>
